// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

/// @author Edgar Esparza

/// Regular font family
$primary-font-stack: sans;

/// Alternate font family
$secondary-font-stack: sans-serif;


/// All colors named
$white: #ffffff;
$black: #000000;
$red: #F44336;

/// Primary copy text color
$text-primary: $red;
/// Secondary copy text color
$text-secondary: $white !important;
/// Tertiry copy text color
$text-tertiary: $black;

/// Primary brand color
$brand-primary: #1f3c78;
/// Secondary brand color
$brand-secondary: #3d7ec8;
/// Tertiary brand color
$brand-tertiary: $black;
/// Brand alternate
$brand-alternate: $black;

/// brand light grey
$brand-light-grey: #ebebeb;
$brand-lighter-grey: #f4f4f4;