// -----------------------------------------------------------------------------
// This file contains styles that are specific to the home page.
// -----------------------------------------------------------------------------

@media screen and (min-width:1px) {
	// tab resets on homepage city tabs
	.city-tabs {
		border-bottom:0;
	}
	.city-tab-content {
		background: url("img/home-cityscape.jpg");
		background-position:bottom center;
		background-repeat:no-repeat;
		background-size:auto;
	}
	.city-tab-content li a {
		display:block;
		padding:.75rem;
		border-bottom:0;
	}
	.city-tab-content li a:hover {
		background-color: white;
		border-radius:6px;
	}
	.city-tab-content li a span {
		display:inline;
		padding-bottom:.2rem;
		border-bottom: 2px solid $brand-primary;
	}

	// storage tools
	.storage-tools {
		background-color:$brand-primary;
		position:relative;
	}
	.storage-tools .square {
		width:40px;
		height:40px;
		background-color:#f4f4f4;
		position:absolute;
	}
	.storage-tools .tiny-square {
		width:14px;
		height:14px;
		background-color:transparent;
		border:3px solid white;
		position:absolute;
		border-radius:3px;
	}
	.top-left {
		top:0;
		left:0;
	}
	.top-right {
		top:0;
		right:0;
	}
	.bottom-left {
		bottom:0;
		left:0;
	}
	.bottom-right {
		bottom:0;
		right:0;
	}
	img.toolbox-feature-img {
		width:50%;
		border: 3px solid white;
	}
	.toolbox {
		color: white;
		font-weight:600;
		text-transform:uppercase;
	}
	.storage-toolbox {
		box-shadow:inset 0px 0px 0px 3px white;
		padding-left: 0;
		position:relative;
	}
}
@media screen and (min-width:300px) {
	.home {
		background-color:$brand-lighter-grey;
	}
	.homepage-hero {
		width:100%;
		height:100vh;
		background-position:center center;
		background-size:cover;
		background-repeat:no-repeat;
		background-image: url("img/hero/homepage-mobile-hero.jpg");
	}
	.homepage-hero-search h1 {
		text-transform:uppercase;
		color:$brand-primary;
		font-size: 1.5rem;
		font-weight: 700;
	}
	.homepage-hero label {
		font-size:.9rem;
	}
}

@media screen and (min-width:400px) and (max-width:767px) {
	.city-link-row {
		margin-left:3rem;
	}
}


@media screen and (min-width:768px) {
	.homepage-hero {
		width:100%;
		height:400px;
		background-image: url("img/hero/homepage.jpg");
	}
	.homepage-hero-search {
	    width: 480px;
	    margin-bottom: -5rem;
	    box-shadow: 0 4px 8px rgba(0,0,0,.08);
	}
	.homepage-hero-search h1 {
		text-transform:uppercase;
		color:$brand-primary;
		font-size: 1.5rem;
		font-weight: 700;
	}
	.home h2 {
		font-size:2rem;
	}
	.homepage-hero-search .input-group-append {
    	margin-left: 0;
	}
	.city-link-row {
		margin-left: -15px;
	}
	.city-tab-content {
		background: url("img/home-cityscape.jpg");
		background-position:bottom center;
		background-repeat:no-repeat;
		background-size:100%;
	}
}
@media screen and (min-width:992px) {
	.homepage-hero-search {
		width: 768px;
		margin-bottom: -2rem;
	}
}
@media screen and (min-width:1200px) {
	.homepage-hero {
		width:100%;
		height:400px;
		background-image: url("img/hero/homepage.jpg");
	}
	.homepage-hero-search {
		width: 992px;
		margin-bottom: -3.5rem;
	}
	.home h2 {
		font-size:3rem;
	}
	.city-link-row {
		width: 992px;
		margin-left: 7rem;
	}
}
