// -----------------------------------------------------------------------------
// This file contains all styles related to the button component.
// -----------------------------------------------------------------------------

.btn {
	font-weight:700;
	letter-spacing:2px;
	text-transform:uppercase;
	font-size:.87rem;
	padding: .375rem .9rem;
	border-radius:0;
}
.input-group-lg>.custom-select, .input-group-lg>.form-control, .input-group-lg>.input-group-append>.btn, .input-group-lg>.input-group-append>.input-group-text, .input-group-lg>.input-group-prepend>.btn, .input-group-lg>.input-group-prepend>.input-group-text {
	border-radius:0;
	font-size:0.9rem;
}
.btn-primary {
	color: white;
    background-color: $brand-primary;
    border-color: $brand-primary;
}
.btn-light-grey {
    color: $brand-primary;
    background-color: $brand-light-grey;
    border-color: $brand-light-grey;
}
.btn-light-grey:hover,
.btn-light-grey:focus,
.btn-light-grey:active {
    color: #fff;
    background-color: $brand-secondary;
    border-color: $brand-secondary;
}
.btn-link {
	color: $brand-primary;
}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
	color: $brand-primary;
	border-width:2px;
	border-color: $brand-primary;
}

@media screen and (min-width:300px) {

	.btn-home-city-search {
		padding: .5rem;
		border-top-left-radius: .5rem!important;
		border-top-right-radius: .5rem!important;
		border-bottom-left-radius: .5rem!important;
		border-bottom-right-radius: .5rem!important;
		color: $brand-primary;
		background-color: white;
		font-size: 1rem;
		letter-spacing:0;
		margin-left:0.25rem;
		margin-right:0.25rem;
		margin-bottom:.5rem;
	}
}

@media screen and (min-width:768px) {

	.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
		color:white;
	    border-color: transparent;
	}

	.btn-home-city-search {
	    padding: 2rem;
	    border-radius: 8px;
	    color: $brand-primary;
	    background-color: white;
	    font-size: 1.5rem;
	    margin-left:0.25rem;
	    margin-right:0.25rem;
	    background-position:center center;
		transition: background .15s;
	}
	.home-virginia {
		background-image: url("img/home-state-icons/virginia.png");
	}
	.home-virginia:hover,
	.home-virginia.active,
	.home-virginia:active,
	.home-virginia:focus  {
		color:white;
		background-image: url("img/home-state-icons/va-city.jpg");
	}
	.home-louisiana {
		background-image: url("img/home-state-icons/louisiana.png");
	}
	.home-louisiana:hover,
	.home-louisiana.active,
	.home-louisiana:active,
	.home-louisiana:focus {
		color:white;
		background-image: url("img/home-state-icons/la-city.jpg");
	}
	.home-minnesota {
		background-image: url("img/home-state-icons/minnesota.png");
	}
	.home-minnesota:hover,
	.home-minnesota.active,
	.home-minnesota:active,
	.home-minnesota:focus {
		color:white;
		background-image: url("img/home-state-icons/mn-city.jpg");
	}
	.home-missouri {
		background-image: url("img/home-state-icons/missouri.png");
	}
	.home-missouri:hover,
	.home-missouri.active,
	.home-missouri:active,
	.home-missouri:focus {
		color:white;
		background-image: url("img/home-state-icons/mo-city.jpg");
	}
	.home-oklahoma {
		background-image: url("img/home-state-icons/oklahoma.png");
	}
	.home-oklahoma:hover,
	.home-oklahoma.active,
	.home-oklahoma:active,
	.home-oklahoma:focus {
		color:white;
		background-image: url("img/home-state-icons/ok-city.jpg");
	}
	.home-texas {
		background-image: url("img/home-state-icons/texas.png");
	}
	.home-texas:hover,
	.home-texas.active,
	.home-texas:active,
	.home-texas:focus {
		color:white;
		background-image: url("img/home-state-icons/tx-city.jpg");
	}
}
