// -----------------------------------------------------------------------------------
// This file contains basic styles for HTML tags. Try not to use classes or ID's here
// -----------------------------------------------------------------------------------
 
a {
    color: $brand-primary;
    border-bottom: 2px solid $brand-primary;
}

a:hover {
	text-decoration:none;
}

a.storage-tools-link {
	color: white;
    border-bottom: 2px solid white;
}

body {
    background: #fff;
  }

 /* some basic form customizations */

.form-control {
	border:2px solid $brand-primary;
	border-radius:0;
 }