// -----------------------------------------------------------------------------
// This file contains all color declarations, if any.
// -----------------------------------------------------------------------------

.brand-primary-color {
	color: $brand-primary;
}

.color-white {
	color: white;
}

.bg-white {
	background-color:white;
}

.bg-grey {
	background-color:#f4f4f4;
}