// -----------------------------------------------------------------------------
// Basic typography style for copy text
// -----------------------------------------------------------------------------
body {
	font-family: 'Raleway', sans-serif;
}
.fs-1 {
	font-size:0.75rem;
}
.fs-1-5 {
	font-size:0.85rem;
}
.fs-2 {
	font-size:1rem;
}
.fs-3 {
	font-size:1.25rem;
}
.fs-4 {
	font-size:1.35rem;
}
.fs-5 {
	font-size:2rem;
}
.fw-600 {
	font-weight:600;
}
