// -----------------------------------------------------------------------------
// This file contains all utility declarations, if any.
// -----------------------------------------------------------------------------


@media screen and (min-width:768px) {
	.mt-md-7 {
		margin-top:5rem;
	}
}

@media screen and (min-width:1200px) {
	.flex-lg-unset {
		flex:unset!important;
	}
}


