// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------

@media screen and (min-width:1px) {

	// skip to content
	#skiptocontent {
		height:1px;
		width:1px;
		display: block;
	    overflow: hidden;
	    position: absolute;
	    left: 10px;
	}
	#skiptocontent:focus {
		height: auto;
		width: auto;
		z-index:9999999;
	    background-color: #ffffff;
	    padding: 0.5rem;
	}
	.ham {
		height:3px;
		width:30px;
		background-color:$brand-primary;
		margin-bottom:5px;
	}
	.ham:first-child {
		margin-top:3px;
	}
	.header-nav {
		padding:0 1rem;
	}
	.header-nav .nav-link {
		text-transform:uppercase;
		font-weight:700;
		color:$brand-primary;
		letter-spacing:1.5px;
		font-size: .87rem;
		padding:2rem 1rem;
	}
	.header-nav .btn {
		border-radius:33px;
	}
	.header-nav a {
		border-bottom: 0;
	}
	.navbar-brand {
		border-bottom: 0;
	}
	.header-nav .dropdown-menu {
	    padding: 0;
	    border: 0;
	    border-radius: 0;
	}
	.header-nav .dropdown-menu:after {
		position: absolute;
		left: 50%;
		transform: translateX(-50%);
		top: -10px;
		width: 0;
		height: 0;
		content: '';
		border-left: 10px solid transparent;
		border-right: 10px solid transparent;
		border-bottom: 10px solid $brand-primary;
	}
	.header-nav .dropdown-item {
		padding: .75rem 1.5rem;
	    border-bottom: 1px $brand-primary;
	    background-color: $brand-primary;
	    color: white;
	    font-weight: 700;
	    font-size: .8rem;
	    text-transform: uppercase;
	    letter-spacing: 1.5px;
	}
	.header-nav .dropdown-item:hover {
		background-color: lighten($brand-primary,10%);
	    color: white;
	}
	.header-nav .dropdown-item:last-child {
		border-bottom:0;
	}
}

@media screen and (min-width:480px) {
	
}

@media screen and (min-width:768px) {
	.navbar-brand img {
		width:190px;
	}
}

@media screen and (min-width:992px) {
	.navbar-expand-xl .navbar-nav .nav-link {
		padding-right: 1.25rem;
		padding-left: 1.25rem;
	}
	.login {
	    position: absolute;
	    top: 1.6rem;
	    right: .5rem;
	}
}

@media screen and (min-width:1350px) {
	.navbar-expand-xl .navbar-nav .nav-link {
		padding-right: 1.75rem;
		padding-left: 1.75rem;
	}
	.login {
	    position: absolute;
	    top:1.6rem;
	    right: 2rem;
	}
}
